<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutBurst</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>


<body>
    <header class="game-title">
        <h1>

            OutBurst <i class="fas fa-bolt" style="color: rgb(255, 165, 0);"></i>
        </h1>
    </header>
    <div id="container">
        <h1 id='info'>
            <span id="round">{{round}}</span>
            <span class="state-indicator">
                <span class="state green"></span>
                <span class="state red"></span>
            </span>
            <div id="role"></div>
        </h1>

        <div class="content">
            <textarea placeholder="Message from the player..." readonly id="player-message"></textarea>
            <div class="player-info">
                <p><i class="fas fa-user" style="color: rgb(0, 52, 125);"></i> <strong>Name:</strong> <span
                        id="player-name">{{player.name}}</span></p>
                <p><i class="fas fa-star" style="color: rgb(165, 176, 10);"></i> <strong>Points:</strong> <span
                        id="score">{{player.score}}</span></p>
                <p><i class="fas fa-heart" style="color: rgb(250, 67, 67);"></i> <strong>Tries:</strong> <span
                        id="health">{{player.health}}</span></p>
            </div>
        </div>


        <div class="input-container">
            <input type="text" placeholder="Type your input here..." id="game-input" />
            <button id='sendButton'><i class="fas fa-paper-plane"></i> Send</button>
            <button id='skip'><i class="fas fa-circle-right"></i> Skip</button>
            <button class="quit" id='quit'><i class="fas fa-times"></i> Quit</button>
        </div>
        <div id="game-over" style="display: none;">
            <h1>Game Ended</h1>
        </div>
    </div>
    <div class='error-message' id='error-message'></div>
    <div class='message' id='message'></div>
    <script>
       
    </script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>

</body>

</html>