<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutBurst</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header class="game-title">
        <h1>
            OutBurst <i class="fas fa-bolt" style="color: rgb(255, 165, 0);"></i>
        </h1>
    </header>
    <div id="container">
        <div class="header">
            {{game}}
            <i class="fas fa-gamepad"></i>
            </div>
        <div class="playerHeader">
            <i class="fas fa-users"></i>
            Players:
            </div>
           
            {%if players | length >= 1%}
            <div class="players">
            {%for other in players%}
                <div class="player">
                {{other.name}}
            </div>
        {%endfor%}
    </div>
        {%endif%}
        <div class="styled-textarea" contenteditable="false">
            <i class="fas fa-spinner fa-spin"></i> Waiting for other players to join...
        </div>
        <button  class="cancelButton"type="button" id="cancleButton"><i class="fas fa-times"></i> Cancel</button>
    </div>
    <div class='error-message' id='error-message'></div>
    <script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
</body>

</html>