<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutBurst</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header class="game-title">
        <h1>OutBurst <i class="fas fa-bolt" style="color: rgb(255, 165, 0);"></i></h1>
    </header>
    <form id="container">
        <div class="host">
            Host: <span> {{ player.name }} </span>
        </div>
        <div class="header">
            <i class="fas fa-cogs"></i>
            Game Settings
        </div>
        <div class="all">
        <div class="settings" id="settingsForm" method="post">
            <div class="left-section" title="Choose a word pack">
                <h3>Word Packs: </h3>
                <label>
                    <input type="checkbox" name="word_packs" value="movies" />
                    <img src="{{ url_for('static', filename='images/movies.png') }}" alt="Film Titles Pack">
                    Movies
                </label>
                <label>
                    <input type="checkbox" name="word_packs" value="songs" />
                    <img src="{{ url_for('static', filename='images/songs.png') }}" alt="Song Titles Packs">
                    Songs
                </label>
                <label>
                    <input type="checkbox" name="word_packs" value="countries" />
                    <img src="{{ url_for('static', filename='images/countries.png') }}" alt="Country Names Pack">
                    Countries
                </label>
                <label>
                    <input type="checkbox" name="word_packs" value="games" />
                    <img src="{{ url_for('static', filename='images/games.png') }}" alt="Video Games Pack">
                    Video Games
                </label>
                <label>
                    <input type="checkbox" name="word_packs" value="commands" />
                    <img src="{{ url_for('static', filename='images/commands.png') }}" alt="Linux Commands Pack">
                    Linux Commands
                </label>
            </div>
            <div class="right-section" title="Choose the round duration">
                <h3>Round Duration: </h3>
                <label>
                    <input type="radio" name="duration" value="short" required/>
                    <img src="{{ url_for('static', filename='images/short.png') }}" alt="Short Round Duration"> 
                    Short
                </label>
                <label>
                    <input type="radio" name="duration" value="long" required/>
                    <img src="{{ url_for('static', filename='images/long.png') }}" alt="Long Round Duration"> 
                    Long
                </label>           
       </div>
       
    </div>
    <button type='submit' class="start-game-button">
        <i class="fas fa-play"></i> Create Game
    </button>
    <button class="cancelButton" type="button" id="cancleButton"><i class="fas fa-times"></i> Cancel</button>
    </div>
    </form>
    <div class='error-message' id='error-message'></div>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>

</html>