<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header class="game-title">
        <h1>OutBurst <i class="fas fa-bolt" style="color: rgb(255, 165, 0);"></i></h1>
    </header>
    <div id="container">
        <div class="header">
            <i class="fas fa-cogs"></i>
            Game Settings
        </div>
        <div class="settings">
            <div class="left-section">
                <label>
                    <input type="checkbox" />
                    <i class="fas fa-film"></i> Movies
                </label>
                <label>
                    <input type="checkbox" />
                    <i class="fas fa-music"></i> Songs
                </label>
                <label>
                    <input type="checkbox" />
                    <i class="fas fa-globe"></i> Countries
                </label>
                <label>
                    <input type="checkbox" />
                    <i class="fas fa-gamepad"></i> Video Games
                </label>
                <label>
                    <input type="checkbox" />
                    <i class="fas fa-terminal"></i> Linux Commands
                </label>
                <label>
                    <input type="checkbox" />
                    <i class="fas fa-utensils"></i> Food/Restaurants
                </label>
            </div>
            <div class="right-section">
                <h3>Duration</h3>
                <label>
                    <input type="radio" name="duration" />
                    <i class="fas fa-hourglass-half"></i> Long
                </label>
                <label>
                    <input type="radio" name="duration" />
                    <i class="fas fa-hourglass-start"></i> Short
                </label>
            </div>
        </div>
        <button class="start-game-button">
            <i class="fas fa-play"></i> Start Game
        </button>
    </div>
</body>

</html>