body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
}

header.game-title {
  margin-bottom: 20px;
}

header.game-title h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#container {
  width: 600px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#container:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}
.players {
  width: 50%;;
  background-color: #f9f9f9; /* Light gray background */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Inner spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  text-align: center;
}

.playerHeader {
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.playerHeader i {
  margin:2%
}

.player {
  color: #555; /* Medium gray text */
  padding: 8px 0;
  margin-left: auto;
  margin-right: auto;
}



.player:hover {
  background-color: #f1f1f1; /* Highlight player on hover */
  cursor: pointer; /* Indicate interactivity */
}

textarea {
  width: 550px;
  height: 150px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #00337d;
  cursor: not-allowed;
}

textarea[readonly] {
  background-color: #f9f9f9;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-container i {
  font-size: 40px;
  color: #007bff;
}
.error-message {
  background-color: #e6e6e6;
  color: rgb(188, 17, 17);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  width: 80%;
  max-width: 400px; /* Limit the width */
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-style: italic;
  display: none;
}

.error-message:hover{
  transform: scale(1.1);
}
*::-webkit-scrollbar {
  display: none; 
}
.cancelButton {
  bottom: 0%;
  width: 100%;
  display: block;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color:#bc1111;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.cancelButton:hover{
  background-color:#911919
}