body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

header.game-title {
  margin-bottom: 20px;
}

header.game-title h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#container {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #0b5bb1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0a498d;
}
.error-message {
  background-color: #e6e6e6;
  color: rgb(188, 17, 17);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  width: 80%;
  max-width: 400px; /* Limit the width */
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-style: italic;
  display: none;
}

.error-message:hover{
  transform: scale(1.1);
}